body {
    color: #2f3640;
    color: #e1b12c;
    color: #f5f6fa;
  }

.contact-info{
    font-family: "montserrat",sans-serif;
    font-weight: bold;
    color: #e1b12c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background: transparent;
    padding: 0;
    margin: 20px;
    width: calc(25% - 20px);
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-icon {
    width: 70px;
    height: 70px;
    font-size: 50px;
    transition: 0.3s linear;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 70px !important;
}

.card:hover .card-icon{
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: scale(1.4);
}



.card p{
    margin-top: 20px;
    font-size : 18px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card:hover p{
    max-height: 40px;
    opacity: 1;
    max-height: 20px;
}
mat-form-field{
    color: #f5f6fa;
    font-weight: 200;
}

.form_div, h3{

    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: "montserrat",sans-serif;
    font-weight: bold;
    color: #e1b12c;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

mat-form-field{
    margin: 20px;
    height: 80%;
    width: 50%;

}


.wyslij_btn{
    border: solid 4px #e1b12c;
    color: #e1b12c;
    font-family: "montserrat",sans-serif;
    margin-bottom: 100px;
    padding: 5px 20px 5px 20px;
    background: transparent;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5px;
}

.submit_info, h4{
    font-family: "montserrat",sans-serif;
    left: 50%;
    top: 25%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.submit_info i{
    color: #e1b12c;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h3{
    justify-content: center;
    text-align: center;
    color: #f5f6fa;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: "montserrat",sans-serif;
}

@media screen and (max-width:800px){
    .contact-info{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 10px;
    }
    .card {
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .card p{
        margin: 10px;
        font-size: 12px;
    }
    ::placeholder{
        word-wrap: break-word;
        color:  #e1b12c;
        font-size: 15px;
    }
    .card-icon {
        font-size: 30px;
    }
}
