
<body>
    <div class="contact-info" *ngIf="!submitted_msg">
    <div class="card" >
        <i class="card-icon fas fa-envelope"></i>
        <p>kontakt@bagazowkachojnice.pl</p>
    </div>
    <div class="card">
        <i class="card-icon fas fa-phone-square-alt"></i>
        <p>+48 790 579 380
                <!-- TODO figure out how to style this to make calls from phone duirectly -->
                <!-- <a class="call_me" href="tel:790579380">+48 790 579 380</a> -->
        </p>
    </div>
</div>


<div class="grid">
    <h3 *ngIf="!submitted_msg">Skontaktuj się z nami:</h3>
    <div class="form_div">
        <form [formGroup]="myForm" *ngIf="!submitted" (ngSubmit)="OnSubmit()">
            <mat-form-field>
                <input name="name" matInput placeholder="Imię" formControlName="imie" [(ngModel)]="userModel.imie">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input type="tel" matInput placeholder="Telefon" formControlName="telefon" required [(ngModel)]="userModel.telefon">
                <mat-hint  align="begin"> 123456789</mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input type="email" matInput formControlName="email" placeholder="email" [(ngModel)]="userModel.email">
                <mat-hint align="begin">Format xxx@xxx.xxx</mat-hint>
                <br>
            </mat-form-field>
            <br>
            <mat-form-field>
                <textarea rows="4" matInput placeholder=" Wpisz swoją wiadomość..." formControlName="wiadomosc" required [(ngModel)]="userModel.wiadomosc"></textarea>
            </mat-form-field>
            <br>
            <button class="wyslij_btn" mat-button color="accent" type="submit" [disabled]="myForm.invalid" > Wyślij</button>
            <!-- [disabled]="myForm.invalid" -->
        </form>
    </div>
    <div *ngIf="submitted_msg" class="submit_info">

            <div class="alert alert-success" role="alert">
                <h4>Dziękujemy za kontakt!</h4>
                <h4>Wrócimy do Ciebie najszybciej jak to będzie możliwe!</h4>
                <i class="fas fa-check-square fa-4x"></i>
            </div>
    </div>
</div>
</body>
