<div class="in_progress">
    <h2>
        Strona Główna w budowie.
    </h2>
    <h2>
        Zapraszamy do sekcji kontakt oraz informacje!
    </h2>
    <h3>
        <i class="fas fa-tools  fa-4x"></i>
    </h3>

</div>
