/* body {
    color: #2f3640;
    color: #e1b12c;
    color: #f5f6fa;
  } */

.in_progress{
    font-family: "montserrat",sans-serif;
    width: 80%;
    top: 25%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    flex-direction: column;
}

h3{
  color: #e1b12c;
}

@media screen and (max-width:800px){
  .in_progress{
    font-size: 15px;
    width: 80%;
    font-family: "montserrat",sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-wrap: normal;
    padding: 20px;
  }
}
