
<div class="contact-info">
    <div class="card">
        <i class="card-icon fas fa-map-marked-alt"></i>
        <p>Chojnice, Widokowa 64</p>
    </div>
</div>
<h3>Gdzie nas znajdziesz?</h3>
<p class="map_position">
<iframe class="map"
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2361.8774658407183!2d17.562971116256517!3d53.70262928005527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4702471e124e3a37%3A0xf8e8adc9809fd2f!2sBAGA%C5%BB%C3%93WKA%20US%C5%81UGI%20TRANSPORTOWE%20MARIUSZ%20MOGA!5e0!3m2!1spl!2s!4v1575016619011!5m2!1spl!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</p>
