body {
    color: #2f3640;
    color: #e1b12c;
    color: #f5f6fa;
  }

.contact-info{
    font-family: "montserrat",sans-serif;
    font-weight: bold;
    color: #e1b12c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background: transparent;
    padding: 0;
    margin: 20px;
    width: calc(25% - 20px);
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    cursor: pointer;
}

.card-icon{
    width: 70px;
    height: 70px;
    font-size: 50px;
    transition: 0.3s linear;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 70px !important;
}

.card:hover .card-icon{
    background: transparent;
    color: #e1b12c;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: scale(1.4);
}

.card p{
    margin-top: 20px;
    font-size : 18px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card:hover p{
    max-height: 40px;
    opacity: 1;
    max-height: 20px;
}

h3{
    justify-content: center;
    text-align: center;
    color: #f5f6fa;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: "montserrat",sans-serif;
}

.map_position{
    margin-top: 20px;
    text-align: center;

}

@media screen and (max-width:800px){
    .map_position{
        margin: 20px;
        text-align: center;
        justify-content: center;
        text-align: center;
    }
    .map{
        max-width: 80%;
    }
}
