/* main colours */
body {
  color: #2f3640;
  color: #e1b12c;
  color: #f5f6fa;
}

.on_click{
    display: none;
    font-size: 16px;
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.on_click a{
    position: relative;
    text-decoration: none;

    margin-top: 10px;
    padding: 10px;
    padding-left: 100%;
    padding-right: 100%;

    color: #e1b12c;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.on_click a:hover{
    color: #f5f6fa;
    border: none;
    transition: 0.5s;
}

nav .nav_links{
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background: transparent;
  font-size: 20px;
  letter-spacing: 5px;
}

.btn{
  margin: 4%;
  width: 200px;
  height: 60px;
  background: none;
  border: 4px solid;
  color: #e1b12c;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  letter-spacing: 5px;
  font-family: 'Montserrat', sans-serif;
  /* transition: transform 0.5s ease-in; */

}

.btn::before,.btn::after{
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: #323842;
  transform: skewX(50deg);
  transition: .4s linear;
}

.btn::before{
  top: -4px;
  left: 10%;
}

.btn::after{
  bottom: -4px;
  right: 10%;
}

.btn:hover::before{
  left: 80%;
}

.btn:hover::after{
  right: 80%;
}

.burger{
  display:none;
}

 p{
  height: 55px;
  width: 320px;
  background: transparent;
  font-size: 40px;
  border: #e1b12c solid 4px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  /* align-items: center; */
  /* justify-content: space-around; */
  padding: 3px;
  color: #e1b12c;
}

h5{
    font-size: 25px;
    background: transparent;
    color: #e1b12c;
    font-family: "montserrat",sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

span{
  height: 100%;
  width: 100%;
  color: #f5f6fa;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}



#line1, #line2, #line3{
  background-color: #e1b12c
}
.burger div{
  width: 30px;
  height: 3px;
  background-color: #e1b12c;
  margin:3px;
  transition: all 0.3s ease;

}

.change #line1{
  top: 0;
  background-color: #f5f6fa;
  transform: translateY(5px) rotate(135deg);
}
.change #line2{
  color: #f5f6fa;
  opacity: 0;
  transform: 0.5s ease;

}
.change #line3{
  top: 0;
  background-color: #f5f6fa;
  transform: translateY(-7px) rotate(-135deg); ;
}

@media screen and (max-width:800px){
  body{
    overflow-x: hidden;
    margin:0px;
    align-items: center;
  }

  .btn{
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .btn{
      position: absolute;
      right: -30px;
      height: 40px;
      top: 15vh;
      background-color: #323842;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      /* transition: transform 0.5s ease-in; */
      /* z-index: 999; */
  }
  /* .on-click{
      display: flex;
      flex-direction: column;
      width: 100%;
      transition: transform 0.5s ease-in;
      text-decoration: none; */


  .burger{
    display: block;
    /* padding:10px; */
    cursor: pointer
  }

  nav {
    transform: translateX(0%);
    background-color: transparent;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.nav-active{
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in;

}
