<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</head>

<body>
<header>


    <nav>
        <!-- TODO wyciagnij moze to logo nad diva -->
        <div class="nav_links">
        <h5>BAGAŻÓWKA<br><span>CHOJNICE</span></h5>
        <button class="btn" [routerLink]="'/glowna'">GŁÓWNA</button>
        <button class="btn" [routerLink]="'/info'">INFORMACJE</button>
        <button class="btn" [routerLink]="'/kontakt'">KONTAKT</button>
        </div>
        <div class="burger">
            <div id="line1"></div>
            <div id="line2"></div>
            <div id="line3"></div>
        </div>
        <div class="on_click">
            <a [routerLink]="'/glowna'">GŁÓWNA</a>
            <a [routerLink]="'/info'">INFORMACJE</a>
            <a [routerLink]="'/kontakt'">KONTAKT</a>
        </div>
    </nav>
    <router-outlet></router-outlet>
</header>
</body>
