/* body {
  color: #2f3640;
  color: #e1b12c;
  color: #f5f6fa;
} */

html, body { 
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    z-index: 0;
    position: relative;

}


.image_background{
    background-image: url("../src/assets/images/fog-1819147.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.over_background{
  margin:0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  opacity: 0.95;
  background-color: #2f3640;
  width: 100%;
  height: 100%;
  position: fixed;

}
